@media only screen and (min-width: 768px){
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
/* this and above css keep applied widths consistent */

body {
  overflow: hidden;
  height: 100%;
  background-color: #F8EEE7;
}

#app {
  margin: 0 5em;
}

#nav {
  display: flex;
  align-items:center;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
a{
  transition: all .2s ease-in-out;
  color:inherit;
}
a:hover{
  transform: scale(1.1);
}
#nav-name {
  font-size: 35px;
}
#nav-projects {
  font-size: 20px;
  margin-left: 1.5em;
  color:inherit;
  text-decoration: inherit;
  /* float:left; */
}
.nav-right {
  margin-left: auto;
}
.nav-right > a{
  margin: auto 1em;
}
.small-icon {
  height: 30px;
  transition: all .2s ease-in-out;
}
.small-icon:hover{
  transform: scale(1.1);
}
main{
  margin: 0 5em;
}

#intro {
  top: 3em;
  left: 0;
  position: relative;
}
#technologies {
  margin-top: 2em;
  margin-bottom: 4em;
}
.tech-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.tech-container img {
  height: 75px;
  margin: 2em;
}

.projects {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  background-color: #f8ebe2;
  border-radius: 15px;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
#projects-header{
  margin-left: 1.5em;
}
.single-project-container {
  display: flex; 
  margin: 2.5em 2em;
}
.reverse-single-project{
  flex-direction: row-reverse;

}
.project-text-container {
  display: flex; 
  flex-direction: column; 
  align-items:center; 
  justify-content: center;
  max-width: 400px;
  margin-right: 2em;
}
.project-text{
  font-size: 20px;
  text-align: center;
  margin-top: -0.2em;
}
.safecycle-text-container{
  width: 80%;
}
.project-links {
  display: flex; 
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  margin-top: 1em;
}
.project-image-container {
  width: 25em;
  border: 1px solid hsla(0, 0%, 54%, 0.2);
  border-radius: 4px;
}
.project-image {
  width: 100%;
  height: 100%;
}

li {
  margin-top: 2em;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 60%;
}

.project-hr {
  margin: 3em auto;
}

.tech-hr {
  margin: 3em auto;
}
}