*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
/* this and above css keep applied widths consistent */
body {
  height: 100%;
  background-color: #f4f4f9;
}
hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 60%;
}

#nav-name {
  font-size: 25px;
}
#nav {
  display: flex;
  align-items:center;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
#nav-projects {
  font-size: 20px;
  margin-left: 1.5em;
  color:inherit;
  text-decoration: inherit;
}
.nav-right {
  margin-left: auto;
}
.nav-right > a{
  margin: auto 1em;
}
.small-icon {
  height: 30px;
  transition: all .2s ease-in-out;
}
.small-icon:hover{
  transform: scale(1.1);
}

#intro {
  display: flex; 
  flex-direction: column; 
  align-items:center; 
  text-align: center;
  margin: 2em auto 4em auto;
  max-width: 700px;
}
#about-me {
  line-height: 1.5;
}

#technologies {
  display: inline-block;
  text-align: center;
  margin-bottom: 4em;
   background-color: #f0f1f9ee;
  border-radius: 15px;
  border-style: solid;
  border-width: thin;
  border-color: white;
}

.tech-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.tech-container img {
  height: 75px;
  margin: 2em;
}

.projects {
  margin-top: 2em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  background-color: #f0f1f9ee;
  border-radius: 15px;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
#projects-header{
  text-align: center;
}


@media all and (max-width: 767px) {
main{
  margin:0px;
  padding: 0px;
  width: 100%;
}

#nav {
  flex-direction: column;
}
#nav * {
  margin: 0.25em;
}
#nav-projects {
  color:#772233;
}

#intro {
  max-width: 450px;
}

.tech-container {
  justify-content: space-around;
}
.tech-container img {
  margin: 15px;
}

.projects {
  margin-top: 1em;
}



#projects-header{
  margin-left: auto;
  margin-right: auto;
}


.single-project-container {
  display: flex; 
  flex-direction: column;
  align-items:center; 
}
.project-text-container {
  display: flex; 
  flex-direction: column; 
  align-items:center; 
  justify-content: center;
  max-width: 400px;
  margin-bottom: 1em;
}
.project-text{
  font-size: 20px;
  text-align: center;
  margin: 0.5em 1em;
}
.project-links {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}
.project-links a{
  margin-right: 0.5em;
  color:#772233;
  text-decoration: inherit;
}
.project-image-container {
  width: 250px;
  height: auto;
}
.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
.project-hr {
 margin-top: 1.5em;
}
.last-project{
  margin-bottom:1em;
}
}

@media only screen and (min-width: 768px){
#app {
  margin: 0 5em;
}

main{
  margin: 0 5em;
}



.single-project-container {
  display: flex; 
  margin: 2.5em 2em;
}
.reverse-single-project{
  flex-direction: row-reverse;
}
.project-text-container {
  display: flex; 
  flex-direction: column; 
  align-items:center; 
  justify-content: center;
  max-width: 400px;
  margin-right: 2em;
}
.project-text{
  font-size: 20px;
  text-align: center;
  margin-top: -0.2em;
}
.safecycle-text-container{
  width: 80%;
}
.project-links {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}
.project-links a{
  margin-right: 1em;
  text-decoration: inherit;
  color:#772233 
}
.project-image-container {
  width: 400px;
  height: auto;
}
.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

li {
  margin-top: 2em;
}

.project-hr {
  margin: 3em auto;
}

.tech-hr {
  margin: 3em auto;
}
}